__pycache__/modConnection.cpython-38.pyc
__pycache__/modInterface.cpython-38.pyc
__pycache__/showAll_Inventory.cpython-38.pyc
__pycache__/modLoginWindow.cpython-38.pyc
__pycache__/Queries.cpython-38.pyc
